<div class="login-wrapper">
    <div class="login-panel">
        <div class="logo"></div>
        <h3>车辆协同监控管理平台</h3>
        <form>
            <div class="form-group">
                <input class="username" type="text" placeholder="请输入您的工号"  ng-model="userName" autofocus/>
            </div>
            <div class="form-group">
                <input class="password" type="password" placeholder="请输入您的密码" ng-model="password"/>
            </div>
            <div class="form-group">
                <button id="loginBtn" class="btn btn-primary btn-large btn-block" ng-click="doLogin()">登录</button>
            </div>
        </form>
    </div>
</div>